<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminals</title>
</head>
<body>
    <h2>Pending Crimes</h2>
    <p>Welcome, {{request.user.username}}!</p>
    {% for criminal in criminals %}
        <h2><a href="{% url 'criminalDetails' criminal.id %}">{{criminal.first_name}}</a></h2><!--Check if correct later-->
        <p>
          <h3>Crimes</h3>
        </p>
    {% endfor %}
</body>
</html>
