{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Criminal</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/police/addcriminal.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'policeHome' %}">Home</a></li>
            <li><a href="{% url 'policeLogout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="order">
        <h1>Add Criminal</h1>
        <p>Welcome, {{request.user.username}}!</p>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-row">
                <label>First Name:</label>
                {{ form.first_name }}
            </div>

            <div class="form-row">
                <label>Last Name:</label>
                {{ form.last_name }}
            </div>

            <div class="form-row">
                <label>Status:</label>
                {{ form.status }}
            </div>

            <div class="form-row">
                <label>Gender:</label>
                {{ form.gender }}
            </div>

            <div class="form-row">
                <label>Date Of Birth:</label>
                {{ form.date_of_birth }}
            </div>

            <div class="form-row">
                <label>Street:</label>
                {{ form.street }}
            </div>

            <div class="form-row">
                <label>City:</label>
                {{ form.city }}
            </div>
            
            <div class="form-row">
                <label>State:</label>
                {{ form.state }}
            </div>

            <div class="form-row">
                <label>Crime:</label>
                {{ form.crime }}
            </div>
            <p><small>( Hold ctrl to select more than one crime )</small>:</p>
            <div class="button1">
                <button type="submit">Submit</button>
                <button><a href="{% url 'policeHome' %}">Cancel</a></button>
            </div>
        </form>
    </div>

    
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                width: '100%',  //Can change later
                placeholder: "Select crimes",  //Can change later 

            });
        });
    </script>
</body>
</html>
