<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Home</title>
</head>
<body>
    <p>Welcome, {{request.user.username}}!</p>
    <h1>Details About the Crime</h2>
    <h2>Crime Type</h2>
    <h2>{{crime.crime_type}}</h2>
    <h3>About the crime</h3>
    <p>{{crime.description}}</p>
    <h3>Location</h3>
    <p>{{crime.location}}</p>
    <h3>Nearest Station</h3>
    <p>{{crime.station}}</p>
    <h3>Current Status</h3>
    <p>{{crime.status}}</p>
    <h3>Submitted By</h3>
    <p>{{crime.submitted_by}}</p>
    <h3>Investigating By</h3>
    <ul>
        {% if police %}
            {% for officer in police %}
                <li>{{officer.first_name}} {{officer.last_name}}</li>
            {% endfor %}
        {% else %}
            <p>No Police Officer assigned to this Crime.</p>
        {% endif %}
    </ul>

    <form method="Post",action="">{% csrf_token %}
        <input type="submit" value="Accept This"><!--Change Later-->
        <a href="{% url 'pendingCrimes' %}">Cancel </a>
    </form>
</body>
</html>