<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Home</title>
</head>
<body>
    <p>Welcome, {{request.user.username}}!</p>
    <h1>Details About the Crime</h2>
    <h2>Crime Type</h2>
    <h2>{{crime.crime_type}}</h2>
    <h3>About the crime</h3>
    <p>{{crime.description}}</p>
    <h3>Location</h3>
    <p>{{crime.location}}</p>
    <h3>Nearest Station</h3>
    <p>{{crime.station}}</p>
    <h3>Current Status</h3>
    <p>{{crime.status}}</p>
    <h3>Submitted By</h3>
    <p>{{crime.submitted_by}}</p>
    <h3>Investigating By</h3>
    <ul>
        {% if police %}
            {% for officer in police %}
                <li>{{officer.first_name}} {{officer.last_name}}</li>
            {% endfor %}
        {% else %}
            <p>No Police Officer assigned to this Crime.</p>
        {% endif %}
    </ul>

    <h3>Witnesses</h3>
    <ul>
        {% if witnesses %}
            {% for witness in witnesses %}
                <li><a href="{% url 'witnessDetail' witness.id %}">{{ witness.first_name }} {{ witness.last_name }}</a></li>
            {% endfor %}
        {% else %}
            <p>No witnesses found for this crime.</p>
        {% endif %}
    </ul>

    <h3>Victims</h3>
    <ul>
        {% if victims %}
            {% for victim in victims %}
                <li><a href="{% url 'victimDetail' victim.id %}">{{ victim.first_name }} {{ victim.last_name }}</a></li>
            {% endfor %}
        {% else %}
            <p>No victims found for this crime.</p>
        {% endif %}
    </ul>

    <h3>Suspects</h3>
    <ul>
        {% if suspects %}
            {% for suspect in suspects %}
            <li><a href="{% url 'suspectDetail' suspect.id %}">{{ suspect.first_name }} {{ suspect.last_name }}</a></li>
            {% endfor %}
        {% else %}
            <p>No suspects found for this crime.</p>
        {% endif %}
    </ul>

    <h3>Evidence</h3>
    <ul>
        {% if evidences %}
            {% for evidence in evidences %}
                <li><a href="{% url 'evidenceDetail' evidence.id %}">{{ evidence.name }}</li></a>
            {% endfor %}
        {% else %}
            <p>No evidence found for this crime.</p>
        {% endif %}
    </ul>

    <form method="Post",action="">{% csrf_token %}
        <input type="submit" value="Accept This"><!--Change Later-->
        <a href="{% url 'pendingCrimes' %}">Cancel </a>
    </form>
    <a href= "{% url 'completeCrime' %}"><button>Complete Crime</button></a>
</body>
</html>
