<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Home</title>
</head>
<body>
    <h2>Police Home</h2>
    <p>Welcome, {{request.user.username}}!</p>

    <a href="{% url 'policeLogout' %}" style="text-decoration: none;">Logout</a><br>
    <a href="{% url 'pendingCrimes' %}" style="text-decoration: none;">Select Crimes to investigate</a><br>
    <a href="{% url 'cancelCrime' %}" style="text-decoration: none;">Cancel Current selected crime</a><br>
</body>
</html>