
{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Update Criminal</title>
    <link rel="stylesheet" href="{% static 'css/police/addSuspect.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'policeHome' %}">Home</a></li>
            <li><a href="{% url 'criminalDetails' criminal.id %}">Selected Crime Details</a></li>
            <li><a href="{% url 'policeLogout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Update Suspect</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-row">
                <label>First Name:</label>
                {{ form.first_name }}
            </div>

            <div class="form-row">
                <label>Last Name:</label>
                {{ form.last_name }}
            </div>

            <div class="form-row">
                <label>Status:</label>
                {{ form.status }}
            </div>

            <div class="form-row">
                <label>Gender:</label>
                {{ form.gender }}
            </div>

            <div class="form-row">
                <label>Date Of Birth:</label>
                {{ form.date_of_birth }}
            </div>

            <div class="form-row">
                <label>Street:</label>
                {{ form.street }}
            </div>

            <div class="form-row">
                <label>City:</label>
                {{ form.city }}
            </div>
            
            <div class="form-row">
                <label>State:</label>
                {{ form.state }}
            </div>

            <div class="button1">
                <button type="submit">Update Criminal</button>
                <button><a href="{% url 'criminalDetails' criminal.id %}">Cancel</a></button>
            </div>
        </form>
    </div>
</body>
</html>
