{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Witness</title>
    <link rel="stylesheet" href="{% static 'css/police/addWitness.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'policeHome' %}">Home</a></li>
            <li><a href="{% url 'crime' witness.crime.id %}">Selected Crime Details</a></li>
            <li><a href="{% url 'policeLogout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Update Witness</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-row">
                <label>First Name:</label>
                {{ form.first_name }}
            </div>

            <div class="form-row">
                <label>Last Name:</label>
                {{ form.last_name }}
            </div>

            <div class="form-row">
                <label>Statement:</label>
                {{ form.statement }}
            </div>

            <div class="form-row">
                <label>Phone Number:</label>
                {{ form.phone_number }}
            </div>

            <div class="form-row">
                <label>Gender:</label>
                {{ form.gender }}
            </div>

            <div class="form-row">
                <label>Street:</label>
                {{ form.street }}
            </div>

            <div class="form-row">
                <label>City:</label>
                {{ form.city }}
            </div>
            
            <div class="form-row">
                <label>State:</label>
                {{ form.state }}
            </div>

            <div class="button1">
                <button type="submit">Update Witness</button>
                <button><a href="{% url 'witnessDetail' witness.id %}">Cancel</a></button>
            </div>
        </form>
    </div>
</body>
</html>
